.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App1{
  text-align: center;
  flex-direction: column;
}

.addTask{
  background-color: blue;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.task button{
  text-align: center;
  margin: 10px;
}

.task{
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: greenyellow; */

  
}